---
import Layout from '~/layouts/Layout.astro'
import { getSortedPosts } from '~/utils'
import { getCollection, render } from 'astro:content'
import PostPreview from '~/components/PostPreview.astro'
import Pagination from '~/components/Pagination.astro'
import BlockHeader from '~/components/BlockHeader.astro'
import siteConfig from '~/site.config'

const home = await getCollection('home')
let HomeContent
if (home.length > 0) {
  const homeEntry = home[0]
  const { Content } = await render(homeEntry)
  HomeContent = Content
}
const sortedPosts = await getSortedPosts()
---

<Layout>
  <p class="py-9 text-base/7 text-foreground">
    👋 Bienvenue sur mon blog où je parle de différents sujets, principalement de ce que
    j'apprends sur le DevOps, la Programmation, le Cloud... Si vous aimez ce que je dis ou
    si vous voulez juste me contacter, n'hésitez pas, les liens sont tout en bas.
  </p>
  {
    sortedPosts.length > 0 && (
      <section>
        <BlockHeader>Derniers posts</BlockHeader>
        {sortedPosts
          .reverse()
          .slice(0, Math.floor(siteConfig.pageSize / 2))
          .map((post) => (
            <PostPreview post={post} />
          ))}
        <Pagination nextLink="/posts" nextText="Archive" />
      </section>
    )
  }
  <!-- {
    postsHaveSeries && (
      <section>
        <BlockHeader>Series</BlockHeader>
        <SeriesSection posts={sortedPosts} />
      </section>
    )
  }
  {
    postsHaveTags && (
      <section>
        <BlockHeader>Tags</BlockHeader>
        <TagsSection posts={sortedPosts} />
      </section>
    )
  } -->
</Layout>

<style is:global>
  a.heading-anchor {
    display: none !important;
  }
</style>
