---
import Layout from '~/layouts/Layout.astro'
import type { MarkdownLayoutProps } from 'astro'
import { Image } from 'astro:assets'
import avatarImage from '~/content/avatar.jpg'

type Props = MarkdownLayoutProps<{
  // Define frontmatter props here
  title: string
  description?: string
  showAvatar?: boolean
}>

// Now, `frontmatter`, `url`, and other Markdown layout properties
// are accessible with type safety
const { frontmatter } = Astro.props
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <div class="max-w-full py-7.5">
    <h1 class="md:mx-2 mb-3 text-[1.75rem] text-heading1 font-semibold">
      # {frontmatter.title}
    </h1>
    {
      frontmatter.showAvatar && (
        <div class="flex justify-center mb-6">
          <Image
            src={avatarImage}
            alt="My avatar"
            class="rounded-full border-8 border-accent/15 size-36 aspect-square box-content"
            widths={[288]}
            height={144}
            width={144}
          />
        </div>
      )
    }
    <div class="mb-5 prose">
      <slot />
    </div>
  </div>
</Layout>
